---
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../components/icons/Briefcase.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
	title="Portfolio's David Sandoval - Web Developer"
	description="Contrata a David Sandoval, desarrollador web con +15 años de experiencia. Especializado en crear aplicaciones únicas."
>
	<main>
		<SectionContainer class="py-44 pb-24">
			<img
				class="rounded-full size-12 mb-4"
				src="/perfil.webp"
				alt="dev_photo"
			/>
			<h1
				class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4"
			>
				Hey, soy David <a
					href="https://www.linkedin.com/in/jdavidsandovals/"
					target="_blank"
					rel="noopenerer"
					class="flex justify-center items-center"
					><Badge>Disponible para trabajar</Badge></a>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span class="">+15 años de experiencia.</span><span
					class="text-yellow-200/90"
				>
					Desarrolaldor Web.</span
				>
				<span class="text-red-200/90">De Piura, Perú.</span>
				<span class="opacity-75">
					Me especializo en crear aplicaciones únicas</span>
			</h2>
			<nav class="flex gap-x-4 mt-8">
				<SocialPill href="https://www.linkedin.com/in/jdavidsandovals/">
					<LinkedInIcon class="size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/sandovaldavid">
					<GitHubIcon class="size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:sandovaldavid2201@gmail.com">
					<MailIcon class="size-6" />
					sandovaldavid2201@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experience">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefCase class="size-7" />
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>
	</main>
</Layout>
