---
const personalImageAlt = "Juan David";
---

<article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Me llamo Juan David, aunque la mayoría me conoce como David.
            Actualmente soy estudiante del décimo ciclo de la carrera de
            Ingeniería Informática en la Universidad Nacional de Piura. Mi
            pasión por el desarrollo de software me ha llevado a crear <strong
                >diversos proyectos independientes</strong
            > que reflejan mis habilidades y dedicación.
        </p>

        <p>
            A lo largo de mi formación, he trabajado en proyectos que abarcan
            desde el desarrollo de aplicaciones web hasta soluciones móviles.
            Estos proyectos han sido <strong
                >una oportunidad para consolidar mis conocimientos técnicos</strong
            > y explorar tecnologías como JavaScript, Java, Django, Kotlin, y bases
            de datos relacionales como PostgreSQL, MySQL y SQLServer.
        </p>

        <p>
            Mi enfoque está en <strong
                >aprovechar la tecnología para resolver problemas prácticos</strong
            > y mejorar procesos mediante la innovación. Aspiro a seguir aprendiendo
            y aportando al mundo del desarrollo de software, construyendo soluciones
            que impacten positivamente a las personas y las empresas.
        </p>
    </div>

    <img
        width="200"
        height="200"
        src="/perfil.webp"
        alt={personalImageAlt}
        class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
        style="object-position: 50% 50%"
    />
</article>
