---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Jun 2024 - Oct 2024",
        title: "Soporte Técnico",
        description:
            "Proporcioné soporte técnico en mantenimiento y configuración de infraestructura tecnológica, garantizando la operatividad de sistemas y equipos en un entorno institucional. Desarrollé habilidades en diagnóstico y resolución de incidencias, optimización de procesos tecnológicos y atención a requerimientos, contribuyendo a la eficiencia operativa. Mi experiencia fortaleció mi capacidad para abordar desafíos técnicos y mejorar la gestión de sistemas, habilidades clave en entornos de desarrollo y TI.",
        company: "Municipalidad Provincial de Piura",
    },
];
---

<ol class="relative mt-16">
    {
        EXPERIENCE.map((experience) => (
            <li>
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
