---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Jun 2024 - Oct 2024",
        title: "Soporte Técnico",
        description:
            "Brindé soporte técnico en el mantenimiento y configuración de infraestructura tecnológica, asegurando la operatividad de los sistemas y equipos en un entorno institucional. Desarrollé habilidades en resolución de problemas, optimización de procesos y atención a requerimientos tecnológicos, contribuyendo al funcionamiento eficiente de las operaciones internas.",
        company: "Municipalidad Provincial de Piura",
    },
];
---

<ol class="relative mt-16">
    {
        EXPERIENCE.map((experience) => (
            <li>
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
