---
import ExperienceItem from './ExperienceItem.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(new URL(Astro.request.url));
const t = useTranslations(lang);

const EXPERIENCE = [
	{
		date: t('experience.technical-support.date'),
		title: t('experience.technical-support.title'),
		description: t('experience.technical-support.description'),
		company: t('experience.technical-support.company'),
	},
];
---

<ol class='relative mt-16'>
	{
		EXPERIENCE.map((experience) => (
			<li>
				<ExperienceItem {...experience} />
			</li>
		))
	}
</ol>
