---
import ExperienceItem from './ExperienceItem.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(new URL(Astro.request.url));
const t = useTranslations(lang);

const EXPERIENCE = [
	{
		date: t('experience.chirasoft.date'),
		title: t('experience.chirasoft.title'),
		description: t('experience.chirasoft.description'),
		company: t('experience.chirasoft.company'),
	},
	{
		date: t('experience.harvardx.date'),
		title: t('experience.harvardx.title'),
		description: t('experience.harvardx.description'),
		company: t('experience.harvardx.company'),
	},
	{
		date: t('experience.data-science.date'),
		title: t('experience.data-science.title'),
		description: t('experience.data-science.description'),
		company: t('experience.data-science.company'),
	},
	{
		date: t('experience.technical-support.date'),
		title: t('experience.technical-support.title'),
		description: t('experience.technical-support.description'),
		company: t('experience.technical-support.company'),
	},
	{
		date: t('experience.alura.date'),
		title: t('experience.alura.title'),
		description: t('experience.alura.description'),
		company: t('experience.alura.company'),
	},
];
---

<ol class="relative mt-16">
	{
		EXPERIENCE.map(experience => (
			<li>
				<ExperienceItem {...experience} />
			</li>
		))
	}
</ol>
