<header class="flex justify-between items-center py-3 w-[60%] mx-auto">
    <img class="rounded-full w-12 h-12" src="/perfil.webp" alt="dev_photo" />
    <nav>
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Projects</a>
        <a href="">Contact</a>
    </nav>
</header>